* {
   margin: 0;
   padding: 0;
}

.cabeçalho {
    padding: 15px 25px;
display: flex;
justify-content: space-between;
align-items: center;
background-color: verde claro;
}

.cartao {
    width: 260px;
    height: 200px;

}

.cartao-imagem {
    width: 100%;
    border-radius: 10px;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(237, 44, 130);
}

main{
    flex: 1;
}


.cabeçalho-link{
color: rgb(0, 0, 0);
text-decoration: none;
}
h1{    
color: black;
font-size: 24px;
}